<h2>Teachers</h2>

<!-- Create form -->
<div>
  <input [(ngModel)]="newTeacher.name" placeholder="Name" />
  <input [(ngModel)]="newTeacher.subject" placeholder="Subject" />
  <button (click)="addTeacher()">Add</button>
</div>

<!-- Teacher list -->
<ul>
  @for (t of teachers; track t._id) {
    <li>
      @if (editTeacher._id !== t._id) {
        {{ t.name }} - {{ t.subject }}
        <button (click)="startEdit(t)">Edit</button>
        <button (click)="deleteTeacher(t._id)">Delete</button>
      } @else {
        <input [(ngModel)]="editTeacher.name" placeholder="Name" />
        <input [(ngModel)]="editTeacher.subject" placeholder="Subject" />
        <button (click)="saveEdit()">Save</button>
      }
    </li>
  }
</ul>
