# Dependencies
node_modules/

# Build output
dist/
coverage/

# Angular specific
client/dist/
client/.angular/cache/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.runtimeconfig.json

# Firebase - .firebaserc is often committed to share project aliases
.firebase/
firebase-debug.log

# IDE / Editor specific
.DS_Store
Thumbs.db
.vscode/
.idea/

# Angular environment files
client/src/environments/environment*.ts
