<div class="container my-4">
  <h2 class="fw-bold mb-3">Employers</h2>

  <!-- Search -->
  <div class="mb-4">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by school name, type, or location..."
      class="form-control form-control-lg" />
  </div>

  @if (loading) {
  <div>Loading employers...</div>
  } @else if (error) {
  <div class="text-danger">{{ error }}</div>
  } @else {
  @if (employers.length > 0) {
  <div class="row g-4">
    @for (employer of filteredEmployers; track employer._id) {
    <div class="col-md-6 col-lg-4">
      <app-employer-card [employer]="employer"></app-employer-card>
    </div>
    }
  </div>
  } @else {
  <div>No employers found.</div>
  }
  }
</div>